.main .add-message {
    display: flex;
    justify-content: center;
    text-align: center;
    background: #FFF;
    height: 500px;
    padding: 40px;
    border-radius: 20px;
    font-weight: 500px;
    margin-top: 2rem;
}

.main .add-message .add-content .card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background: #0057FF;
    color: #FFF;
}

.main .add-message .add-content .card .card-title{
    margin: 0;
}

.main .add-message .add-content .card .card-title h4{
    font-size: 12px;
    font-weight: bolder;
    margin-bottom: 0;
}

.main .add-message .add-content .card .card-content .awal {
    font-size: 30px;
    font-weight: bolder;
}

.main .add-message .add-content .card .card-content .benefit-pack .benefit{
    margin-bottom: 5px;
}

.main .add-message .add-content .card .submit-btns{
    font-size: 12px;
    font-weight: 600;
    padding: 10px 20px;
    margin-top: 3rem;
    border-radius: 5px;
    background: #FFF;
    color: #0057FF;
}

.main .add-message .add-content .card .submit{
    margin: 10px;
    font-size: 12px;
    font-weight: 600;
    color: #FFF;
}
